<div *ngIf="weather && weather.weather.length > 0">
    <h3>Tempo agora: {{weather.weather[0].description}} <img
            src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png"></h3>
    <div>
        <span>Temperatura: {{weather.main.temp}}&deg; (min: {{weather.main.temp_min}}&deg;, max:
            {{weather.main.temp_max}}&deg;)</span><br>
        <span>Sensação térmica: {{weather.main.feels_like}}&deg;</span>
        <p>Umidade: {{weather.main.humidity}}%</p>
    </div>
</div>