<h2>Localização</h2>
<small>Para recuperar sua localização, favor autorize no seu browser/sistema operacional.</small>
<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map>
<form [formGroup]="addressForm" (ngSubmit)="searchAddress()">
  <div class="form-group row mt-3">
    <div class="col-md-2 text-right">
      <label class=" mt-1">Endereço: </label>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control" formControlName="search" placeholder="Informe um endereço válido."
        [ngClass]="{ 'is-invalid': submitted && f.search.errors }">
      <div class="invalid-feedback" *ngIf="f.search.errors">
        <div *ngIf="f.search.errors.required">Informe um endereço.</div>
      </div>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary" [disabled]="!addressForm.valid">Buscar</button>
    </div>
  </div>
</form>
<hr />
<div *ngIf="address">
  <h3>Endereço:</h3>
  <div>
    <p>{{address.formatted_address}}</p>
  </div>
  <hr/>
  <app-weather [address]="address"></app-weather>
</div>