<div class="row">
    <div class="col-12">
        <h2>Seja muito bem-vindo ao desafio Platform Builders</h2>
        <div>
            Esse projeto foi desenvolvido em virtude do processo de seleção para o cargo: "Pessoa Desenvolvedora
            Angular".

            <p>Agradeço antecipadamente pela atenção e obrigada pela oportunidade!</p>

            <h2 class="mt-5">🤝 Dados para contato:</h2>
            <p>Nome: Ana Flávia Araújo Lima Pinto de Carvalho</p>
            <p>Telefone: (61) 9 9618-0178</p>
            <p>E-mail: anaflavia.alpc@gmail.com</p>
            <p><a href="https://drive.google.com/file/d/14elrb8HtoLBCp8qgo-cSl2gFLsyOhuVt/view?usp=sharing"
                target="_blank">Link para o currículo </a></p>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <h2>👀 Resumo dos requisitos</h2>
        <p>Desenvolva um SPA que tenha pelo menos 2 telas: uma tela de login, pedindo um usuário e senha (mockar
            autenticação), e outra que consuma a localização atual do usuário e exiba na interface e no input de
            pesquisa o endereço atual e também os dados climáticos da região.</p>
        <ul>
            <li>Deve ser possível inserir manualmente o endereço a ser buscado na API.</li>
            <li>Para fazer essa busca, pode-se usar a API do Open Weather Map:
                <a href="https://openweathermap.org/api">https://openweathermap.org/api</a>
            </li>
            <li>Quem estiver deslogado deve ser redirecionado para o login.</li>
        </ul>
        <h2>📌 Condições</h2>
        <hr>
        <ul>
            <li>É permitido o uso de qualquer biblioteca</li>
            <li>Anexar Print Screen no Readme</li>
            <li>Utilizar Github para repositório</li>
        </ul>
        <h2>🙌 Diferenciais</h2>
        <hr>
        <p>Será muito bem valorizado:</p>
        <ul>
            <li>Componentização</li>
            <li>Documentação</li>
            <li>Interface</li>
        </ul>
    </div>
</div>